[submodule ".vim/vcscommand"]
	path = .vim/vcscommand
	url = http://repo.or.cz/r/vcscommand.git
[submodule ".vim/nerdcommenter"]
	path = .vim/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/supertab"]
	path = .vim/supertab
	url = http://github.com/ervandw/supertab.git
[submodule ".vim/twitvim"]
	path = .vim/twitvim
	url = http://github.com/developwithpassion/twitvim.git
[submodule ".vim/taglist"]
	path = .vim/taglist
	url = http://github.com/learnjin/taglist.vim.git
[submodule ".vim/pyflakes-vim"]
	path = .vim/pyflakes-vim
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule ".vim/tagbar"]
	path = .vim/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".vim/pathogen"]
	path = .vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
