[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[alias]
    st = status -s
    ci = commit
    co = checkout
    graph = log --graph --all --oneline --decorate --pretty=\"format:%C(yellow)%h %Cblue%an %Cgreen%ar%C(yellow bold)%d%Creset%n%s\"
    pull2 = "!git fetch origin && ( git pull --ff-only || git rebase -p origin/$(git current-branch))"
    vim = difftool --tool=vimdiff
[user]
    name = spookypeanut
    email = github@spookypeanut.co.uk
[push]
	default = simple
[gui]
[gui]
	fontdiff = -family ProggySquareTT -size 11 -weight normal -slant roman -underline 0 -overstrike 0
	fontui = -family \"DejaVu Sans Mono\" -size 8 -weight normal -slant roman -underline 0 -overstrike 0
